/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker/mosquitto/passwd
/storage/oauth-keys
/storage/mosquitto/certs/*.crt
/storage/mosquitto/certs/*.key
/storage/mosquitto/certs/*.pem
!/storage/mosquitto/certs/README.md
/led_display
database/*.sqlite
database/*.sqlite-journal
/.fleet
/.idea
/.nova
/.vscode
/.zed
